h1{
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
}
.button-click{
    background: #f0f3f5;
    padding: 20px;
  text-decoration: none;
  color: #000;
}
.principal{
    background: red;
    color: #fff;
    padding: 20px;
    text-decoration: none;
}